body,  html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: cornsilk;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #050505, #4a0000, #a80000);
    height: 100vh;
   
}
.content{
    text-align: center;
    padding: 2rem 3rem;
    margin-top: 20px;
    background-color: #1f1212;
    max-width: 600px;
    border-radius: 10px;
     border: 2px solid rgb(217, 16, 16);
    
}
.image{
    width: 200px;
    object-fit: contain;
    background: 
    radial-gradient(circle at center, rgba(180, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.9) 80%), 
    url('../images/shoes.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
    
    
}
button{
    border: none;
    padding: 12px;
    margin-bottom: 7px;
    border-radius: 10px;
    border:4px solid #4a0000;
    background-color: black;
    color: cornsilk;
    transition: background-color 0.9s ease-in-out ;
    cursor: pointer;
}
button:hover{
    background-color: #a50505;
    border: 2px solid aliceblue;
   
}
form{
    display: flex;
    justify-content: center;
    gap: 15px;
}

    p {
    letter-spacing: 1px;
    font-size: 15px;
    
}
